#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define default 0
#define fn1 1
#define fn2 2
#define fn3 3
#define mouse 4
#define scroll 5
#define fn6 6

/ {
    keymap {
        compatible = "zmk,keymap";

        default { // Layer 0
            bindings = <
                            &kp EQUAL &kp N1   &kp N2   &kp N3   &kp N4       &kp N5            &kp N6   &kp N7   &kp N8    &kp N9     &kp N0   &kp MINUS
                &kp ESC     &kp TAB   &kp Q    &kp W    &kp E    &kp R        &kp T             &kp Y    &kp U    &kp I     &kp O      &kp P    &kp LBRC  &kp RBKT
                &kp CAPS    &kp BSLH  &kp A    &kp S    &kp D    &kp F        &kp G             &kp H    &kp J    &kp K     &kp L      &kp SEMI &kp SQT   &kp RET
                &lt 4 LSHFT &kp LSHFT &kp Z    &kp X    &kp C    &kp V        &kp B             &kp N    &kp M    &kp COMMA &kp PERIOD &kp FSLH &kp RSHFT &lt 5 RSHFT 
                &kp LCTRL   &kp LALT  &kp LWIN     &mkp MB3      &lt 1 SPACE  &lt 3 DEL         &lt 2 BSPC                             &kp RWIN &kp RALT  &kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };

        fn1 {
            bindings = <
                       &trans &kp F1 &kp F2 &kp F3 &kp F4 &kp F5            &kp F6   &kp F7   &kp F8   &kp F9    &kp F10   &kp F11
                &trans &trans &trans &trans &trans &trans &trans            &trans   &trans   &trans   &trans    &trans    &trans &kp F12
                &trans &trans &trans &trans &trans &trans &trans            &kp LEFT &kp DOWN &kp UP   &kp RIGHT &kp GRAVE &trans &trans
                &trans &trans &trans &trans &trans &trans &trans            &trans   &trans   &trans   &trans    &trans    &trans &trans 
                &trans &trans &trans     &trans    &trans &trans            &trans                               &trans    &trans &trans
            >;
        };

        fn2 {
            bindings = <
                       &trans &trans &trans           &trans         &trans           &trans                   &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans           &trans         &trans           &trans                   &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &kp LC(LEFT)     &kp LC(UP)     &kp LC(DOWN)     &kp LC(RIGHT)            &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &kp LC(LG(LEFT)) &kp LC(LG(UP)) &kp LC(LG(DOWN)) &LC(LG(RIGHT))           &trans &trans &trans &trans &trans &trans &trans 
                &trans &trans &trans          &trans                 &trans           &trans                   &trans                      &trans &trans &trans
            >;
        };

        fn3 {
            bindings = <
                       &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
                &trans &trans &trans     &trans    &trans &trans            &trans                      &trans &trans &trans
            >;
        };

        mouse {
            bindings = <
                       &trans &trans &trans &trans &trans &trans            &trans &trans   &trans   &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans            &trans &trans   &trans   &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans            &trans &mkp MB1 &mkp MB1 &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans            &trans &trans   &trans   &trans &trans &trans &trans 
                &trans &trans &trans     &trans    &trans &trans            &trans                          &trans &trans &trans
            >;
        };

        scroll {
            bindings = <
                       &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans &trans 
                &trans &trans &trans     &trans    &trans &trans            &trans                      &trans &trans &trans
            >;
        };

        fn6 {
            bindings = <
                               &bt BT_SEL 0   &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans            &trans &trans &trans &trans &trans &trans
                &sys_reset     &trans         &trans       &trans       &trans       &trans       &trans            &trans &trans &trans &trans &trans &trans &sys_reset
                &bootloader    &trans         &trans       &trans       &trans       &trans       &trans            &trans &trans &trans &trans &trans &trans &bootloader
                &studio_unlock &trans         &trans       &trans       &trans       &trans       &trans            &trans &trans &trans &trans &trans &trans &trans 
                &bt BT_CLR     &bt BT_CLR_ALL &trans             &trans              &trans       &trans            &trans                      &trans &trans &trans
            >;
        };
    };
 };